<div class="col-sm-4" col-lg-4 col-md-4>
    <div class="thumbnail">
        <img src="@Oscypki.ImageThumbnailPath" alt="" />
        <div class="caption">
            <h3 class="pull-right">@Oscypki.Price.ToString()</h3>
            <h3>
               <a href="@($"OscypekDetails/{Oscypki.OscypkiId}")">Details</a>
            </h3>
            <p>@Oscypki.Description</p>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Oscypki Oscypki { get; set; }
}
